

 .boton{
     width: 150px;
    color:#fffaff;
    border-radius: 15;
    background-color: #93b7e1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 45%; 
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 0px 0px 5px 5px #93b7e1;
}
.boton:hover{
    background-color: #549df0; 
}
.title{
    color:rgb(21, 79, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: inset;
    border-color: aliceblue;
    margin-left: 100px;
    margin-top: 300px;
    background: white;
    font-size: 40px;

} 
#justificado{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 5%;
}

html{
    background: url("../imagen/fondo2.jpg");
}

.imaLoading {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin-right:150px;
} 