

.paginado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title4{
    color:#2751db;
    font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: 200px;
   margin-top: 300px;
   justify-content: end;
  
    
} 